<?xml version="1.0"?>
<config>
    <modules>
        <Stuntcoders_Banner>
            <version>1.1.0</version>
        </Stuntcoders_Banner>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Stuntcoders_Banner before="Mage_Adminhtml">Stuntcoders_Banner_Adminhtml</Stuntcoders_Banner>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <stuntcoders_banner>
                <class>Stuntcoders_Banner_Model</class>
                <resourceModel>stuntcoders_banner_mysql4</resourceModel>
            </stuntcoders_banner>
            <stuntcoders_banner_mysql4>
                <class>Stuntcoders_Banner_Model_Mysql4</class>
                <entities>
                    <banner>
                        <table>stuntcoders_banner</table>
                    </banner>
                    <banner_group>
                        <table>stuntcoders_banner_group</table>
                    </banner_group>
                </entities>
            </stuntcoders_banner_mysql4>
        </models>
        <blocks>
            <stuntcoders_banner>
                <class>Stuntcoders_Banner_Block</class>
            </stuntcoders_banner>
        </blocks>
        <helpers>
            <stuntcoders_banner>
                <class>Stuntcoders_Banner_Helper</class>
            </stuntcoders_banner>
        </helpers>
        <resources>
            <stuntcoders_banner_setup>
                <setup>
                    <module>Stuntcoders_Banner</module>
                </setup>
            </stuntcoders_banner_setup>
            <banner_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </banner_write>
            <banner_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </banner_read>
        </resources>
    </global>
    <stores>
        <admin>
            <design>
                <package>
                    <name>leather-man-clothing</name>
                </package>
                <theme>
                    <default>leather-man-clothing</default>
                </theme>
            </design>
        </admin>
    </stores>

</config>
