<?xml version="1.0"?>
<config>
    <modules>
        <Stuntcoders_Banner>
            <version>1.0.0</version>
        </Stuntcoders_Banner>
    </modules>
    <global>
        <models>
            <stuntcoders_banner>
                <class>Stuntcoders_Banner_Model</class>
                <resourceModel>stuntcoders_banner_resource</resourceModel>
            </stuntcoders_banner>
            <stuntcoders_banner_resource>
                <class>Stuntcoders_Banner_Model_Resource</class>
                <entities>
                    <banner>
                        <table>stuntcoders_banner</table>
                    </banner>
                    <banner_group>
                        <table>stuntcoders_banner_group</table>
                    </banner_group>
                </entities>
            </stuntcoders_banner_resource>
        </models>
        <blocks>
            <stuntcoders_banner>
                <class>Stuntcoders_Banner_Block</class>
            </stuntcoders_banner>
        </blocks>
        <helpers>
            <stuntcoders_banner>
                <class>Stuntcoders_Banner_Helper</class>
            </stuntcoders_banner>
        </helpers>
        <resources>
            <stuntcoders_banner_setup>
                <setup>
                    <module>Stuntcoders_Banner</module>
                </setup>
            </stuntcoders_banner_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <stuntcoders_banner>
                    <file>stuntcoders/banner.xml</file>
                </stuntcoders_banner>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Stuntcoders_Banner before="Mage_Adminhtml">Stuntcoders_Banner_Adminhtml</Stuntcoders_Banner>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
